# Cloudbeds API Configuration
# Provide the API keys for all hotels involved, separated by commas.
#
# REQUIRED SCOPES:
# - Guest: Read and Write
# - Reservation: Read and Write
# - Hotel: Read
#
# Example formatting:
CLOUDBEDS_API_KEYS=cbat_KEY1,cbat_KEY2,cbat_KEY3
